<template>
  <div class="content">
    <img src="@/assets/error.png" class="img-error">
    <div class="info-error">
      <div>
        <h1>404 Page</h1>
        <p>Error page not found.</p>
        <p>Go to 
          <router-link to="/"> Home</router-link>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default{
  name: "Error"
}
</script>

<style scoped>
.content {
  display: flex;
  flex-wrap: wrap;
}
.img-error {
  margin: 50px;
  max-height: 20em;
}
.info-error {
  display: grid;
  place-content: center;
}
</style>
