<template>
<div class="content">
  <div class="info-main">
    <h1>This is a tecnic test</h1>
    <hr/>
    <p>This project is based in the standard project with several main events!</p>
    <hr/>
  </div>
  <form-login/>
</div>
</template>

<script>
import FormLogin from '@/components/FormLogin'

export default{
  name: "Home",
  components: {
    FormLogin
  }  
}
</script>

<style>
.content {
  display: flex;
  flex-wrap: wrap;
}
.info-main {
  width: 50vw;
}
</style>
