<template>
  <div>
    <h1>Pagina Perfil</h1>
    <show-user v-bind:user="user"/>
  </div>
</template>

<script>
import { getUser } from '@/mixins/apiUsers'
import ShowUser from '@/components/ShowUser'
export default{
  name: "Profile",
  components: {
    ShowUser
  },
  data() {
    return {
      user: []
    }
  },
  created(){
    user = [getUser(document.cookies.token)];
  }
}
</script>
