<template>
  <footer class="bg-dark">
  <div class="info-footer">
    <p>Copyright © 2020 </p>
    <p>Developed By <a href="https://gitlab.com/dbRoldan"> dbgroldan</a></p>
  </div>
  </footer>
</template>

<script>
export default {
  name: 'CustomFooter',  
 }
</script>

<style>
footer {
  display: grid;
  color: snow;
  place-content: center;
  padding: 1.5em;
}
.info-footer p {
  display: flex;
  justify-content: center;
}
.info-footer p a {
  margin-left: .5em;
}

</style>
