<template> 
  <header>
    <nav-header/>    
    <div class="container-cover">
      <div class="degraded-gradient">
        <div class="container-details">
          <div class="details">
              <h1>Users Management</h1>
              <p>
                  Just a test work
              </p>
          </div>
        </div>
      </div>
  </div>

  </header>
</template>

<script>
import NavHeader from '@/components/NavHeader'

export default {
  name: 'CustomHeader',
  components: {
    NavHeader
  }
}
</script>

<style scoped>
  .container-cover{
      width: 100vw;
      height: 30vh;
      background-image: url(../assets/bkg.jpg);
      background-size: 200%;
      animation: imagemovement 30s infinite linear alternate;
  }

  @keyframes imagemovement{
      from{
          background-position: bottom left;
      }to{
          background-position: top right;
      }
  }

  .degraded-gradient{
      width: 100%;
      height:  30vh;
      position: absolute;
      background: -webkit-linear-gradient(left, black, gray);
      opacity: 0.5;
  }

  .container-details{
      width: 100%;
      max-width: 1200px;
      position: relative;
      margin: auto;
  }

  .details{
      width: 100%;
      max-width: 500px;
      position: relative;
      top: 20px;
      left: 15px;
      color: white;
  }

  .details h1{
      font-size: 40px;
      font-weight: 100;
  }

  .details button{
      padding: 10px 20px;
      font-size: 16px;
      background: none;
      border-style: none;
      border: 1px solid white;
      color: white;
      margin-top: 20px;
      transition: background 300ms;
      cursor: pointer;
  }

  .details button:hover{
      background: white;
      color: black;
  }
</style>
