<template>
  <div class="login-content">
    <h1>Login</h1>
    <div class="container form-login">
      <p><label for="id"><b>Identificacion</b></label>
      <br/><input type="text" placeholder="12345" id="id" required>
      </p>
      <p><label for="password"><b>Password</b></label>
      <br/><input type="password" placeholder="Password" id="password" required>
      </p>
      <button type="button" class="btn btn-dark" v-on:click="loginUser">Login</button>
    </div>
  </div>
</template>

<script>
import { loginUser } from '@/mixins/apiUsers'
export default{
  data() {
    return {
      name: "FormLogin",
    }
  },  
  methods: {
    loginUser(){
      let data = {
        id: document.getElementById('id').value,
        password: document.getElementById('password').value
      }
      if (!loginUser(data)){
        alert('Invalid User');
      }
      location.href = '/profile';
    }
  }
}
</script>

<style scoped>
.login-content {
  margin: 25px;
}
</style>
