<template>
  <div class="element-content">
    <h1>Sign In </h1>
    <div class="container form-element">
    
    <p v-for="(item, index) in itemsform" v-bind:key="index">
      <label for="item.id"><b>{{ item.name }}</b></label>
      <br/><input v-bind:type="item.type" v-bind:placeholder="item.placeholder" v-bind:id="item.id" v-bind:ref="item.id" required>
    </p>      
      <button type="button" class="btn btn-dark" v-on:click="registerUser">Sign In</button>
    </div>
  </div>
</template>

<script>
import { addUser } from '@/mixins/apiUsers'
export default{
  data() {
    return {
      name: "FormUserReg",
      itemsform: [
        {name: 'Identificacion', type: 'text', placeholder:"Identificacion", id: "id"},
        {name: 'Name', type: 'text', placeholder:"Name Lastname", id: "name"},
        {name: 'E-mail', type: 'email', placeholder:"mail@mail.com", id: "email"},
        {name: 'Password', type: 'password', placeholder:"Password", id: "password"},
        {name: 'Type', type: 'text', placeholder:"Admin/User", id: "type"}
      ]
    }
  },
  
  methods: {
    registerUser(){
      let data = {
        id: document.getElementById('id').value,
        name: document.getElementById('name').value,
        email: document.getElementById('email').value,      
        type: document.getElementById('type').value,  
        password: document.getElementById('password').value        
      }
      console.log('======>', data);
      if (!addUser(data)){
        alert('Invalid User');
      }
      location.href = '/';
    }
  }
}
</script>

<style scoped>
.element-content {
  margin: 25px;
}
</style>
