<template>
  <div class="element-content">
    <h1>Event Log </h1>
    <div class="container form-element">
    
    <p v-for="(item, index) in itemsform" v-bind:key="index">
      <label for="item.id"><b>{{ item.name }}</b></label>
      <br/><input v-bind:type="item.type" v-bind:placeholder="item.placeholder" v-bind:name="item.id" required>
    </p>      
      <button type="button" class="btn btn-dark" v-on:click="registerEvent">Register</button>
    </div>
  </div>
</template>

<script>
export default{
  data() {
    return {
      name: "FormEventReg",
      itemsform: [
        {name: 'Name', type: 'text', placeholder:"Name Lastname", id: "name"},
        {name: 'Address', type: 'text', placeholder:"Address", id: "address"},
        {name: 'Capacity', type: 'number', placeholder:"000", id: "capacity"},
        {name: 'Event Date', type: 'date', placeholder:"00-00-0000", id: "dateevent"}
      ]
    }
  },
  
  methods: {
    registerEvent(){
      
    }
  }
}
</script>

<style scoped>
.element-content {
  margin: 25px;
}
</style>
