<template>
  <div class="element-content">
    <h1>Ticket Sale </h1>
    <div class="container form-element">
    
    <p v-for="(item, index) in itemsform" v-bind:key="index">
      <label for="item.id"><b>{{ item.name }}</b></label>
      <br/><input v-bind:type="item.type" v-bind:placeholder="item.placeholder" v-bind:name="item.id" required>
    </p>      
      <button type="button" class="btn btn-dark" v-on:click="buyTicket">Buy</button>
    </div>
  </div>
</template>

<script>
export default{
  data() {
    return {
      name: "FormEventReg",
      itemsform: [
        {name: 'Seat Number', type: 'number', placeholder:"000", id: "seat"}
      ]
    }
  },
  
  methods: {
    buyTicket(){
      
    }
  }
}
</script>

<style scoped>
.element-content {
  margin: 25px;
}
</style>
