<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navegationMenu" aria-controls="navegationMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse menu-navegation" id="navegationMenu">
        <a class="navbar-brand" href="#">
        <img src="@/assets/logo.png" class="img-logo">
          User Projects
        </a>
        <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item" v-for="(item, index) in items" v-bind:key="index">
            <a class="nav-link" v-if="item.url" v-bind:href="item.url">{{ item.name }}</a>
            <a class="nav-link" v-if="!item.url" data-toggle="modal" data-target="#signinModal">{{ item.name }}</a>
          </li>         
        </ul>        
     </div>
     
     <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form-user-reg/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </nav>
    
    
</template>

<script>
import FormUserReg from '@/components/FormUserReg'
export default {
  name: 'NavHeader',  
  components: {
    FormUserReg
  },
  data() {
    return {
      items: [
        {name: 'Sign In'},
        {name: 'Login', url: '/'},
        ]
    }
  }
 }
</script>

<style scoped>
.img-logo {
  width: 2em;
}
.menu-navegation {
  margin: 0px 10vw;
  display: grid;  
  grid-template-columns: auto auto;
  gap: 50vw;
}
</style>
