<template>
<p>Test profile</p>
</template>

<script>
//import { getUser } from '@/mixins/apiUsers'
export default{
  data() {
    return {
      name: "ShowUser",
      props: {
        user: {
          type: Array,
          default: ()=>[]
        }
      }
    }
  },
  created(){
    
  }
  
}
</script>

<style scoped>
.login-content {
  margin: 25px;
}
</style>
