<template>
  <main>
    <custom-header/>
    <hr/>
    <router-view class="container"/>
    <hr/>
    <custom-footer/>
  </main>
</template>

<script>
import CustomHeader from '@/components/CustomHeader'
import CustomFooter from '@/components/CustomFooter'

export default {
  name: 'App',
  components: {
    CustomHeader,
    CustomFooter
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
